Magga21 <margretf24@ru.is> Margrét Edda Friðgeirsdóttir <margretf24@ru.is>
YUMJiHyeon <s25126@itu.dk> 염지현 <yumjihyeon@yeomjihyeon-ui-noteubug.local>
Ratatoskr <mathias.alm@gmail.com>
Erle Sognnæs <s25128@itu.dk>
